[Unit]
Description=Vibrant Deck CLI Daemon

[Service]
Type=oneshot
RemainAfterExit=true
EnvironmentFile=%h/.config/vibrant_deck_cli/config
ExecStart=%h/.local/bin/vibrant_deck_cli $SATURATION
ExecStop=%h/.local/bin/vibrant_deck_cli 1.0
StandardOutput=journal

[Install]
WantedBy=default.target